.db-header-en {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 12px 26px;
    background: #fff;
    border-bottom: 1px solid #e5e8eb;
}

.db-header-en .logo-en {
    width: 100px;
}